*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLite databases
*.sqlite

# Virtual environment
venv

# tmp
/tmp
将删除 .idea/
将删除 cookies
将删除 doc/_build/
将删除 doc/_static/
将删除 doc/_templates/
将删除 doc/app.api_1_0.rst
将删除 doc/app.rst
将删除 doc/config.rst
将删除 doc/index.rst
将删除 doc/manage.rst
将删除 doc/modules.rst
将删除 doc/tests.rst
将删除 migrations/

# bak
*.bak

# docs
doc/_build/

cookies