<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | 唐小二</title>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/base.css") }}"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}"/>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
</head>
<body>
<div class="top">
    <div class="wrapper clearfix">
        <ul class="left">
            <img class="left" src="{{ url_for("static", filename="img/a39-1.png") }}" alt="" height="90px"/>
            <img class="left" src="{{ url_for("static", filename="img/016-1.png") }}" alt="" height="90px"/>
        </ul>
        <ul class="right">
            <li class="active"><a href="index.html">首页</a></li>
            <li><a href="ClassKnowledge.html">学习考研</a></li>
            <li><a href="CampusNews.html">大学新闻</a></li>
            <li><a href="SuperClub.html">超级社团</a></li>
            <li><a href="Social.html">社会评价</a></li>
            <li><a href="AboutUs.html">关于我们</a></li>
            <li><a href="APP.html">联系我们</a></li>
        </ul>
    </div>
</div>

{% block content %}{% endblock %}

<!--bottom-->
<div class="foot">
    <ul class="clearfix">
        <li><a href="#"><img class="img-responsive" src="{{ url_for("static", filename="img/011.png") }}" alt=""/></a></li>
        <li><a href="#"><img class="img-responsive" src="{{ url_for("static", filename="img/009.png") }}" alt=""/></a></li>
        <li><a href="#"><img class="img-responsive" src="{{ url_for("static", filename="img/010.png") }}" alt=""/></a></li>
        <li><a href="#"><img class="img-responsive" src="{{ url_for("static", filename="img/008.png") }}" alt=""/></a></li>
    </ul>
    <p>联系方式：13731780687&nbsp;&nbsp;&nbsp;QQ：1204050023&nbsp;&nbsp;&nbsp;微信：asf346</p>
    <p>唐小二创始人：李登铭、张振、单若宁</p>
    <p>IPC备案号：16018400</p>
</div>

{% block script %}
<!--<script>
    (function() {
        var s = document.createElement("script");
        s.onload = function() { bootlint.showLintReportForCurrentDocument([]); };
        s.src = "js/bootlint.js";
        document.body.appendChild(s)
    })();
</script>-->
<script type="text/javascript" src="{{ url_for("static", filename="js/jquery-1.12.4.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/animate.js") }}"></script>
{% endblock %}
</body>
</html>