{% extends "base.html" %}

{% block title %}大学生必备{% endblock %}

{% block content %}
<!--banner-->
<div class="banner2">
	<img src="{{ url_for("static", filename="img/004.jpg") }}" alt="" width="100%" />
	
	<div class="cent2 clearfix">
		<img class="left" src="{{ url_for("static", filename="img/liantu.png") }}" alt=""/>
		<ul class="left">
			<li id="xia"><a href="#"><img src="{{ url_for("static", filename="img/iphone.png") }}" alt=""/>iPhone下载</a></li>
			<li id="zai"><a href="#"><img src="{{ url_for("static", filename="img/android.png") }}" alt=""/>Android下载</a></li>
		</ul>
	</div>
</div>
	
<!--center-->
<div class="wrapper">
    <div id="demo">
        <div id="indemo">
            <div id="demo1" class="imgs">
                <a class="left" href="#"><img src="{{ url_for("static", filename="img/005.png") }}" alt=""/><span>课堂知识</span></a>
                <a class="left" href="#"><img src="{{ url_for("static", filename="img/007.png") }}" alt=""/><span>校园新闻</span></a>
                <a class="left" href="#"><img src="{{ url_for("static", filename="img/015.png") }}" alt=""/><span>超级社团</span></a>
                <a class="left" href="#"><img src="{{ url_for("static", filename="img/013.png") }}" alt=""/><span>社会评价</span></a>
                <a class="left" href="#"><img src="{{ url_for("static", filename="img/014.png") }}" alt=""/><span>关于我们</span></a>
                <a class="left" href="#"><img src="{{ url_for("static", filename="img/016.png") }}" alt=""/><span>APP下载</span></a>
            </div>
            <div id="demo2" class="imgs"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
    //小轮播
    var speed = 10;
    var tab = document.getElementById("demo");
    var tab1 = document.getElementById("demo1");
    var tab2 = document.getElementById("demo2");
    tab2.innerHTML = tab1.innerHTML;

    function Marquee() {
        if (tab2.offsetWidth - tab.scrollLeft <= 0)
            tab.scrollLeft -= tab1.offsetWidth
        else {
            tab.scrollLeft++;
        }
    }
    var MyMar = setInterval(Marquee, speed);
    tab.onmouseover = function () {
        clearInterval(MyMar)
    };
    tab.onmouseout = function () {
        MyMar = setInterval(Marquee, speed)
    };
</script>
{% endblock %}
